{% load static %}
<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Jarvis - Dashboard</title>
  <meta name="description" content="Jarvis - Dashboard">
  <meta name="keywords" content="Jarvis, Dashboard">

  <meta name="robots" content="noindex, nofollow">
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />

  <link rel="icon" href="{% static 'img/jarvis-logo.png' %}" sizes="16x16" type="image/png">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  {% if auth %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light nav_expand nav-toggled">
    <div class="container">
      <div class="nav_collapse collapse navbar-collapse" id="navbarSupportedContent">
        <div class="row width_100">
          <div class="col-8 col-md-6 col-lg-6">
            <div class="head_logo">
              <img src="{% static 'img/jarvis-logo.png' %}" alt="">
            </div>
          </div>
          <div class="col-4 col-md-6 col-lg-6 padd_3">
            <ul class="navbar-nav navbar_nav mr-auto">
              <li class="nav-item dropdown user_logout">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <img src="{% static 'img/employee.png' %}">
                  <!-- <span>Welcome <br>Prakash Jha Singh Sisodia</span> -->
                </a>
                <div class="dropdown-menu dropdown_menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Profile</a>
                  <a class="dropdown-item" href="logout">Log Out</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- Sidebar Code -->
  <div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fa fa-bars"></i>
    </a>

    <!-- sidebar-wrapper  -->
    <main class="page-content jarvis_content">
      <div class="page_card">
        <div class="container">
          <div class="row">
            <!-- <h1 class="col-12">Dashboard</h1> -->
            <div class="col-md-3">
              <ul class="nandi_welcome_card">
                <li>
                  <h4><img src="{% static 'img/jarvis-icon-1.svg' %}" alt="">{{net_worth}}</h4>
                  <p>Account Balance</p>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nandi_welcome_card">
                <li>
                  <h4><img src="{% static 'img/jarvis-icon-2.svg' %}" alt=""> {{pnl.all_pnl|floatformat}}</h4>
                  <p>Total PnL</p>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nandi_welcome_card">
                <li>
                  <h4><img src="{% static 'img/jarvis-icon-3.svg' %}" alt="">{{ pnl.week_pnl|floatformat }}</h4>
                  <p>This week PnL</p>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nandi_welcome_card">
                <li>
                  <h4><img src="{% static 'img/jarvis-icon-4.svg' %}" alt=""> {{ pnl.month_pnl|floatformat }}</h4>
                  <p>This month PnL</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="card_map">
                    <div id="my_dataviz"></div>
                    <!-- <img src="{% static 'img/graph-3.png' %}" alt=""> -->
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-12"> -->
              <!-- <div class="card"> -->
                <!-- <div class="card-body"> -->
                  <!-- <div class="card_map"> -->
                    <!-- <div id="my_dataviz2"></div> -->
                    <!-- <img src="{% static 'img/graph-4.png' %}" alt=""> -->
                  <!-- </div> -->
                <!-- </div> -->
              <!-- </div> -->
            <!-- </div> -->
            <div class="col-md-12">
              <div class="card">
                <h5 class="card-header">Historical Trades <em class="fa fa-download pull-right" id ="trade_download"></em></h5>
                <div class="card-body">
                  <div class="card_table abc">
                    <table class="table table-bordered table-fixed table-hover">
                      <thead style="position: sticky;top: 0">
                        <tr>
                          <th  class="header" scope="col">Exchange</th>
                          <th class="header" scope="col">Symbol</th>
                          <th class="header" scope="col">Entry Time</th>
                          <th class="header" scope="col">Entry Price</th>
                          <th class="header" scope="col">QTY</th>
                          <th  class="header" scope="col">Exit Time</th>
                          <th  class="header" scope="col">Exit Price</th>
                          <th  class="header" scope="col">Net USD</th>
                          <th  class="header" scope="col">Net Percent</th>
                          <th  class="header" scope="col">Result</th>
                        </tr>
                      </thead>
                      <tbody id="trade-data">
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="card">
                <h5 class="card-header">Open Positions <em class="fa fa-download pull-right" id ="pos_download"></em></h5>
                <div class="card-body">
                  <div class="card_table">
                    <table class="table table-bordered table-hover">
                      <thead style="position: sticky;top: 0">
                        <tr>
                          <th class="header" scope="col">Exchange</th>
                          <th class="header" scope="col">Symbol</th>
                          <th class="header" scope="col">Entry Time</th>
                          <th  class="header" scope="col">Price</th>
                          <th  class="header" scope="col">Side</th>
                          <th  class="header" scope="col">Open Positions</th>
                          <th  class="header" scope="col">Dollar QTY</th>
          
                        </tr>
                      </thead>
                      <tbody id="position-data">
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card">
                <h5 class="card-header text-center">Manage Strategy</h5>
                <div class="card-body">
                  <div class="card_table">
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Description</th>
                          <th scope="col">Status</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody id="strategy">
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <p id="username" style="display: none;">{{username}}</p>
    <!-- page-content" -->
  </div>

  <script src="{% static 'js/jquery.3.2.1.min.js' %}"></script>
  <!-- <script src="{% static 'js/jquery.3.3.1.min.js' %}"></script> -->
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="{% static 'js/app.js' %}"></script>
  <script src="{% static 'js/paging.js' %}"></script>

{% endif %}
</body>


</html>